* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100px;
  padding: 20px;
}

.logo {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}

.nav {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.nav a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.booksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: aqua;
  width: 80%;
  height: 80px;
}
